<header>
  <div class='header-content'>
    <%= image_tag 'logo2.png', alt: 'ロゴ', class: 'small-image' %>
    <h1><a href="<%= root_path %>" class="home-link">推し活日記</a></h1>
  </div>
  <nav>
    <a href="/signup" class="button">新規登録</a>
    <a href="/login" class="button">ログイン</a>
  </nav>
</header>
<%= yield %>

<div class="body">
<h3>プライバシーポリシー</h3>

<h2>お客様から取得する情報</h2>

<p class="body-3">当社は、お客様から以下の情報を取得します。</p>
<ul class="body-2">
  <li>氏名（ニックネームやペンネームも含む）</li>
  <li>性別</li>
  <li>メールアドレス</li>
  <li>写真や動画</li>
  <li>お客様の位置情報</li>
</ul>

<h2>お客様の情報を利用する目的</h2>

<p class="body-3">当社は、お客様から取得した情報を、以下の目的のためにに利用します。</p>
<ul class="body-2">
  <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
  <li>お客様の当社サービスの利用履歴を管理するため</li>
  <li>当社サービスに関するご案内をするため</li>
  <li>お客様からのお問い合わせに対応するため</li>
  <li>当社の規約や法令に違反する行為に対応するため</li>
  <li>当社サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
  <li>当社規約の変更等を通知するため</li>
  <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
</ul>

<h2>安全管理のために講じた措置</h2>

<p class="body-3">当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第16条3項）に該当するものについては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
<p class="body-3">但し、次の場合は除きます。</p>
<ul class="body-2">
  <li>個人データの取り扱いを外部に委託する場合</li>
  <li>当社や当社サービスが買収された場合</li>
  <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
  <li>その他、法律によって合法的に第三者提供が許されている場合</li>
</ul>

<h2>プライバシーポリシーの変更</h2>

<p class="body-3">当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>


<h2>お問い合わせ</h2>

<p class="body-3">以下のメールアドレスにご連絡ください</p>
  <ul class="body-2">
    <li>mhr.0722.78@gmail.com</li>
  </ul>

<p class="body-4">以上</p>
</div>

<div class="footer-content">
  <ul>
    <li><a href="/kiyaku">利用規約</a></li>
    <li><a href="/privacy">プライバシーポリシー</a></li>
  </ul>
</div>
