body {
    font-family: Arial, sans-serif; /* クリーンで読みやすいフォント */
    line-height: 1.6; /* 読みやすい行間 */
    background-color: #f4f4f4; /* ソフトな背景色で目に優しい */
    color: #333; /* ダークグレーのテキストは読みやすい */
}

h3 {
  font-size: 32px;
  text-align: center;
  margin: 20px;
}

.terms-introduction {
    font-size: 16px;  /* フォントサイズを設定 */
    color: #333;  /* テキストの色を設定 */
    line-height: 1.6;  /* 行の高さを設定 */
    padding: 15px;  /* パディングを設定 */
    margin: 30px;
}

h2 {
  margin-top: 50px;
}

.body-2 {
  margin: 15px 25px;
}

.body-3 {
  margin-left: 40px;
}

.body-4 {
  text-align: right;
  margin: 30px 40px;
}
